.nav-item.active {
    font-weight: bold;
}


/* portfolio */

.jumbotron.jumbotron-fluid {
    background-color: #698db1;
}

.mr-3 {
    width: 145px;
    height: 95px;
}

.container .row .col-md-6 {
    clear: both;
}

.container .row {
    padding: 10px;
}

.item-header {
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: bold;
}

.item-text {
    text-emphasis: none;
    font-size: 10pt;
}

/* index */

body {
    background-color: #c2c2c2;
}

a:link {
color: rgb(39, 189, 39);
background-color: transparent;
text-decoration: none;
}

a:visited {
color: rgb(78, 209, 209);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: rgb(39, 138, 0);
background-color: transparent;
text-decoration: underline;
}

a:active {
color: rgb(255, 251, 0);
background-color: transparent;
text-decoration: underline;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    padding-top: 10px;
    clear: both;
    float: left;
}


.col-md-3 {
    align-items: center;
}


.col-md-7 {
    float: right;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #698db1;
    color: rgb(0, 0, 0);
}


/* contact */

.contact-header {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-text {
    width: 100%;
    background-color: #698db1;
}

.email-text {
    width: 100%;
    background-color: #698db1;
}

.message-text {
    width: 100%;
    height: 150px;
    background-color: #698db1;
}

/* footer */
footer {
    text-align: center;
    color: whitesmoke;
    background-color: #808080;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


